.main_content {
    width: 1000px;
    margin: auto;
    background-color: black;
    text-align: center;
    padding: 10px;
}
.header {
    height: 200px;
    width: 1000px;
    background-color: orange;
    clear: both;
}
.lcr{
    display: flex;
}
.content {
    height: 500px;
    background-color: papayawhip;
}
.left {
    height: 500px;
    width: 210px;
    background-color: red;
}
.centr_1 {
    height: 500px;
    width: 290px;
    background-color: seagreen;
}
.centr_2 {
    height: 500px;
    width: 290px;
    background-color: steelblue;
}
.right {
    height: 500px;
    width: 210px;
    background-color: rgb(154, 29, 165);
}
.footer {
    height: 200px;
    width: 1000px;
    background-color: orange;
    clear: both;
}